#level-image {
    display: none;
}

canvas, svg {
    width: 640px;
    height: 400px;
}

svg {
    fill: #676767;
    stroke: #CECECE;
}

a {
    text-decoration: none;
    color: #CECECE;
    cursor: pointer;
}

a:hover {
    color: black;
}

#dosbox-progress-indicator {
    display: none;
    color: gray;
}